<div class="fullpage" id="myFullpage">

    <section class="section bio">

            <div class="about-me">

                <h1 class="about-me-h1">About me</h1>
                <p>
                Hello 👋, <br> <br>
                my name is Desmond, I am a Front End web developer based in Nigeria.

                I am Designer by day Developer by night, I enjoy building fascinating products that solve real world problems.

                Here are a few technologies I work with:
                </p>


            </div>
            <div class="skills">
              <div class="container">
                <div class="skill_wrapper">Angular</div>
                <div class="skill_wrapper">Next.Js</div>
                <div class="skill_wrapper">React</div>
                <div class="skill_wrapper">Nest.Js</div>
                <div class="skill_wrapper">Node.Js</div>
                <div class="skill_wrapper">PHP</div>
                <div class="skill_wrapper">AWS</div>
                <div class="skill_wrapper">Docker</div>
                <div class="skill_wrapper">MongoDB</div>
                <div class="skill_wrapper">Postgress</div>
                <div class="skill_wrapper">MYSQL</div>
              </div>
            
            </div>

            <!-- <div class="skills">
                <ul>
                    <li>Angular</li>
                    <li>HTML & (S)CSS</li>
                    <li>JAVASCRIPT (ES6+)</li>
                    <li>Node.Js</li>
                    <li>TypeScript</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                </ul>

                <ul>
                    <li>Figma</li>
                    <li>PhotoShop</li>
                    <li>Adobe Illustrator</li>
                    <li>VSCode</li>
                    <li>Trello</li>
                </ul>
            </div> -->

            <div class="img">

            </div>

    </section>

    <!-- <section class="section work-history-section">
        <div class="section-heading"><H2>Where I work(ed)</H2></div>
        <div class="wrapper">

          <div class="list">
            <div class="listitems">
              <div class="item">Eki-Edo Enterprise</div>
              <div class="item">Detopsy Electricals </div>
              <div class="item">Easychop.ng</div>
              <div class="item">Makonaturals</div>
              <div class="item">TEDx AideyanSt</div>
              <div class="item">Junior Tech Africa</div>
              <div class="item">Studihub Education Services</div>
            </div>
          </div>

          <div class="display">
            <div class="work-details">
              <div class="title-date-wrapper">
                <h1 class="Job-title">Title</h1>
                <h3 class="date">Date, 2020</h3>
              </div>

              <div class="list-of-acheivements">
                <ul>
                  <li>List one one usus siyis osfuis osuod</li>
                  <li>List one one usus siyis osfuis osuod</li>
                  <li>List one one usus siyis osfuis osuod</li>
                  <li>List one one usus siyis osfuis osuod</li>
                </ul>
              </div>


            </div>
          </div>
        </div>
    </section>

    <section class="section my-education">
      <div class="section-heading"><H2>My Education</H2></div>
      <div class="wrapper">

        <div class="item item1">
          <div class="date">January 2020 - OCTOBER 2020 - 5 weeks</div>
          <div class="school">Pluralsight</div>
          <div class="course">Mobile Web Specialist </div>
        </div>

        <div class="item item2">consectetur adipisicing elit.</div>
        <div class="item item3">consectetur adipisicing elit.</div>

      </div>
    </section> -->


</div>


