<div class="fullpage" id="myFullpage">

    <section class="section bio">

            <div class="about-me">

                <h1 class="about-me-h1">About me</h1>
              <p>
                Hello 👋, <br> <br>
                As a Senior Full Stack Software Engineer, I am a seasoned professional with extensive experience in developing and delivering high-quality software products. With a solid background in both front-end and back-end technologies, I possess a deep understanding of the entire software development life cycle.
              </p>
                
              <p>
                Throughout my career, I have successfully designed, implemented, and maintained complex web applications, utilizing a wide range of programming languages, frameworks, and tools. My expertise spans:
              </p>


            </div>
            <div class="skills">
              <div class="container">
                <div class="skill_wrapper">Angular</div>
                <div class="skill_wrapper">Next.Js</div>
                <div class="skill_wrapper">React</div>
                <div class="skill_wrapper">Nest.Js</div>
                <div class="skill_wrapper">Node.Js</div>
                <div class="skill_wrapper">PHP</div>
                <div class="skill_wrapper">AWS</div>
                <div class="skill_wrapper">Flutter</div>
                <div class="skill_wrapper">Docker</div>
                <div class="skill_wrapper">MongoDB</div>
                <div class="skill_wrapper">Postgress</div>
                <div class="skill_wrapper">MYSQL</div>
              </div>
            
            </div>

          
            <div class="img">

            </div>

    </section>

</div>


