<div class="wrapper">

  <div class="container">

   <div class="heading">
     <h1>
       Here are a few other project I felt shouldn’t be on the first page, but are worthy to be listed on my portfolio. Please Enjoy
     </h1>
   </div>
   <div class="content">
      <div class="thumb-img">1</div>
      <div class="thumb-img">2</div>
      <div class="thumb-img">3</div>
      <div class="thumb-img">4</div>
      <div class="thumb-img">5</div>
      <div class="thumb-img">6</div>
   </div>

  </div>
</div>
