
<div class="grid-group">
    <div class="work-thumb one" proj-name="Desmond's portfolio">
      <img src="../../../assets/img/project-imgs/desmond.png" alt="" loading="lazy">
      <div class="tools">
        <ul>
          <li>Angular</li>
          <li>Firebase</li>
        </ul>
      </div>
    </div>

    <div class="work-thumb two" proj-name="Eki-Edo Enterprise">
      <img src="../../../assets/img/project-imgs/ekiedo.png" alt="" loading="lazy">
      <div class="tools">
        <ul>
          <li>Angular</li>
          <li>Firebase</li>
          <li>Woocommerce Api</li>
        </ul>
      </div>
    </div>
    <div class="work-thumb three" proj-name="Cloudy Weather App">
      <img src="../../../assets/img/project-imgs/cloudy.png" alt="" loading="lazy">
      <div class="tools">
        <ul>
          <li>Javascript</li>
          <li>Open Weather Api</li>
          <li>Firebase</li>
        </ul>
      </div>
    </div>
    <div class="work-thumb four" proj-name="TEDx Benin">
      <img src="../../../assets/img/project-imgs/tedxwebsite.PNG" alt="" loading="lazy">
      <div class="tools">
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
        </ul>
      </div>
    </div>
    <div class="work-thumb five" proj-name="Easychop">
      <img src="../../../assets/img/project-imgs/easychop.png" alt="" loading="lazy">
      <div class="tools">
        <ul>
          <li>Laravel</li>
          <li>Javascript</li>
        </ul>
      </div>
    </div>
    <div class="work-thumb six" proj-name="Reddit Clone">
      <img src="../../../assets/img/project-imgs/color-game.PNG" alt="" loading="lazy">
      <div class="tools">
        <ul>
          <li>Javascript</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </div>
    </div>
</div>
