    <div class="main">
        <div class="container">
            <div class="circle-1"></div>
    
            <div class="img"></div>
    
        </div>
    
    </div>

<!-- Load progress bar drawn in svg  -->

    <!-- <svg 
        class="progress_ring"
        width="120"
        height="120">

            <circle  class="prog_ring_circle"
                r="52"
                stroke-width="4"
                cx="60"
                cy="60"
                fill="transparent"
                stroke="green"
            
            />
    </svg> -->